/*@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,100);
*/@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

* {
	margin: 0;
	padding: 0;
}

html, body {
 	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: flex-end;
}


.slide {
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.slide h1 {
	font-weight: 300;
}

aside {
	height: 100%;
	width: 30%;
	min-width: 385px;
	box-sizing: border-box;
	padding: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid #2c3e50;
	background-color: #fafafa;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #2c3e50;
	overflow: hidden;
}

#contact {
	width: 100%;
	height: 200px;
	position: absolute;
	right: 0;
	z-index: -10;
	box-sizing: border-box;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	border: 1px solid #2c3e50;
	border-left: 0;
	border-right: 0;
	line-height: 1.25em;
}
#contact h1 { 
	width: 180px;
	text-align: center;
}
#contact h2, h3 {
	width: 180px;
	font-weight: 300;
	text-align: center;
	font-variant: small-caps;
}

#contact h4 {
	width: 140px;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: .9em;
	margin-top: 5px;
	background-color: #2c3e50;
	color: #fafafa;
	border-radius: .9em;
	padding: 2px 0;
	margin-right: 20px;

}

#profile_pic {
	height: 200px;
	width: 200px;
	border: 1px solid #2c3e50;
	border-radius: 100%;
	position: relative;
	background-image: URL('../images/yung.jpg');
	background-size: 250px 250px;
	background-position: -30px -10px;
	background-color: #2c3e50;
	background-blend-mode: luminosity;
}
#profile_pic:before {
	display: block;
	content: '';
	height: 200px;
	width: 800px;
	position: relative;
	z-index: -3;
	right: 700px;
	transform: rotate(-50deg);
	transform-origin: center right;
	box-sizing: border-box;
	border: 1px solid #2c3e50;
	background-color: #fafafa;
}
#links {
	height: 45%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 1.5em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Open Sans';
}
#links h2 {margin-bottom: .5em;}
#links ul {
	list-style-type: none;
	text-align: center;
}
#links ul li {padding: 2px 0;}
#links ul li a {
	text-decoration: none;
	color: #2c3e50;
}



#content {
	width: 70%;
	height: 100%;
}

.slide-header {
	height: 80px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #2c3e50;
	color: #2c3e50;
}


#slide_1 {
	background-color: ;
	color: #2c3e50;
	box-sizing: border-box;
	padding: 50px;
}
#slide1_container {
	width: 500px;
	transform: translateY(-50px);
}
#slide1_container a:active {color: greenyellow;}


#slide_2 {
	box-sizing: content-box;
	padding: 0;
	height: auto;
	min-height: 85%;
}
.flex {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}
#slide_2 h1 {
	width: 100%;
	height: 5rem;
	background-color: #2c3e50;
	color: #ecf0f1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
#technologies {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	width: 100%;
	height: 300px;
	background-color: #34495e;
}
.skill {
	position: relative;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	min-height: 250px;
	min-width: 294px;
	list-style-type: none;
	box-sizing: border-box;
	border: 1px solid #34495e;
	overflow: hidden;
}
.skill:first-child {
	border-right: none;
	border-bottom: none;
}
.skill:nth-child(2) {border-bottom: none;}
.skill:nth-child(3) {
	border-left: none;
	border-bottom: none;
}
.skill:nth-child(4) {border-right: none;}
.skill:nth-child(6) {border-left: none;}

.skill .front {
	position: absolute;
	transform: perspective(600px) rotateY(0deg);
	background: #2c3e50;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fafafa;
}
.skill .front img {height: 50%;}
.skill .back {
	position: absolute;
	transform: perspective(600px) rotateY(180deg);
	background: #fafafa;
	color: #2c3e50;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Open Sans';
	font-weight: 700;
}
.skill .back canvas {margin: 5px;}

.skill:hover .front {
	transform: perspective(600px) rotateY(-180deg);
}
.skill:hover .back {
	transform: perspective(600px) rotateY(0deg);
}
#work_x {height: auto;}

#work_x h1 {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: #2c3e50;
}

.work_list {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.work_list li {
	list-style-type: none;
	position: relative; 
 	margin: 5px 0 5px 120px;
 	width: 300px;
 	padding-bottom: 10px;
 	border-bottom: 1px solid #ccc;
 }
.work_list li:before {
	content: '';
	display: block;
	height: 70px;
	width: 75px;
	position: absolute;
	left: -90px;
	background-size: cover;
	box-shadow: 0 0 1px rgba(0,0,0,.2);
	background-color: #2c3e50;
	background-blend-mode: luminosity;
}


#work_list1 li:nth-child(1):before {
	background-image: url('https://lh4.googleusercontent.com/-4g95Bo-AgTM/AAAAAAAAAAI/AAAAAAAAAAA/ZDl5Ogv0ulA/s0-c-k-no-ns/photo.jpg');
}
#work_list1 li:nth-child(2):before {
	background-image: url('https://pbs.twimg.com/profile_images/690254512880156672/V6ZCed-V.jpg');
}
#work_list1 li:nth-child(3):before {
	background-image: url('http://sfappeal.com/wp-content/uploads/2011/06/target-logo.png');
}
#work_list1 li:nth-child(4):before {
	background-image: url('https://media.glassdoor.com/sqll/134515/family-heritage-life-insurance-squarelogo.png');
}
#work_list1 li:nth-child(5):before {
	background-image: url('https://yt3.ggpht.com/-f_rc1ho1nDQ/AAAAAAAAAAI/AAAAAAAAAAA/FACiH5FmNWs/s900-c-k-no/photo.jpg');
}


#work_list2 li:nth-child(1):before {
	background-image: url('https://pbs.twimg.com/profile_images/542067686167957504/sTd6FOwC.png');
}
#work_list2 li:nth-child(2):before {
	background-image: url('https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/563617_556060377767450_1956485971_n.png?oh=161d2b6b077f6999a1eac8e3f82ee97b&oe=57E6A0BA');
}
#work_list2 li:nth-child(3):before {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/TheHomeDepot.svg/150px-TheHomeDepot.svg.png');
}
#work_list2 li:nth-child(4):before {
	background-image: url('https://pbs.twimg.com/profile_images/683949357155151872/uJNBKX9l.jpg');
}
#work_list2 li:nth-child(5):before {
	background-image: url('http://static.wixstatic.com/media/61951c_d60a22797c3a46e0b5d09c4fd717945e.jpg_srz_181_257_85_22_0.50_1.20_0.00_jpg_srz');
}

.no-bottom-border {border-bottom: 0 !important;}



#ed h1 {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: #2c3e50;
}
#ed_flex {
	display: flex;
	flex: 1;
	width: 100%;
}
#ed_left {
	display: flex;
	flex: 5;
	flex-direction: column;
}
.school {
	display: flex;
	flex: 1;
	background-blend-mode: luminosity;
	background-color: #2c3e50;
	background-size: cover;
	color: #ecf0f1;
}
.school p {
	width: 200px;
	min-height: 100%;
	background: rgba(26, 188, 156, .6);
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.school:nth-child(1) {
	/*background-image: url('http://www.showchoir.com/choirs/media/school_images/s68.jpg');*/
	background-image: url('../images/bandana_square.png');
	justify-content: flex-start;
	background-position: 0 -100px;
}

.school:nth-child(2) {
	/*background-image: url('http://www.wellingtonmgt.com/sites/default/files/property_images/Bandana%20Sq_1st%20Light%231_PRINT_0.jpg');*/
	background-image: url('../images/linn-mar.jpg');
	justify-content: flex-end;
}
.school:nth-child(3) {
	/*background-image: url('http://www.opnarchitects.com/wp-content/uploads/2012/12/Kirkwood-Cedar-Hall-2-of-7.jpg');*/
	background-image: url('../images/kirkwood.jpg');
	justify-content: flex-start;
	box-sizing: border-box;
	padding-left: 20%;
	background-position: 0 300px;
}
#ed_right {
	display: flex;
	flex-direction: column;
	flex: 3;
	background: #fafafa;
}


#more {height: 95%;}
#more h1 {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: #2c3e50;
}
#more_flex {
	display: flex;
	flex: 1;
	width: 100%;
}
.more_list {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.more_list h2 {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	font-variant: small-caps;
	color: #2c3e50;
	border: 1px solid #2c3e50;
	border-left: none;
}
#interests {
	display: flex;
	flex-direction: column;
	border-left: 1px solid #2c3e50;
}
#interests h2 {border-left: none;}
#more details {
	display: flex;
	align-items: center;
	flex: 1;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding: 0 20px;
}
#more summary {
	min-width: 100%;
	color: #2c3e50;
	font-size: 1.5em;
	font-weight: 300;
	position: relative;
	top: 20px;
	display: block;
	margin-bottom: 1.3rem;
}
#more summary::-webkit-details-marker {
    color: rgba(26, 188, 56, .6);
}
#more summary:focus {
	outline: 0;
}
#more details p {
	color: #555;
}
#awards {
}
#awards h3 {
	width: 100%;
	text-align: left;
	font-weight: bold;
}
#awards_content {
	box-sizing: border-box;
	padding: 10px;
	color: #2c3e50;
}
#awards_content p {
	margin-bottom: 8px;
}